<!-- Wrapper-->
<div id="wrapper">

  <!-- Left navigation bar -->
  <navigation></navigation>

  <!-- Main page wrapper -->
  <div id="page-wrapper" class="gray-bg">

    <!-- Top navigation -->
    <topnavbar></topnavbar>

    <!-- Main view/routes wrapper-->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer></footer>

  </div>
  <!-- End page wrapper-->
  <!--<app-adminmess></app-adminmess>-->
  <!--<div id="right-sidebar" class="animated sidebar-open">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
      <div class="sidebar-container" style="overflow: hidden; width: auto; height: 100%;">
      </div>
      <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 503.718px;">
      </div>
      </div>
  </div>-->
</div>
<!-- End wrapper-->
